</div>
</div>
<!-- Footer -->
<section class="ourSites">
    <div class="container">
        <div class="row">
            <div class="col-md-12 noindex">
                <ul>
                    <li class="title">Our sites</li>
                    <li><a title='blog.gov.je opens in new window' target="_blank" href="https://blog.gov.je">blog.gov.je</a></li>
                    <li><a title='m.gov.je opens in new window' target="_blank" href="http://m.gov.je/">m.gov.je</a></li>
                    <li><a title='Jersey Law opens in new window' target="_blank" href="https://www.jerseylaw.je/Pages/default.aspx">Jersey Law</a></li>
                    <li><a title='Locate Jersey opens in new window' target="_blank" href="http://www.locatejersey.com/">Locate Jersey</a></li>
                    <li><a title='opendata.gov.je opens in new window' target="_blank" href="https://opendata.gov.je/dataset">opendata.gov.je</a></li>
                    <li><a title='Parishes opens in new window' target="_blank" href="http://www.parish.gov.je/Pages/default.aspx">Parishes</a></li>
                    <li><a title='States Assembly opens in new window' target="_blank" href="http://www.statesassembly.gov.je/">States Assembly</a></li>
                    <li><a title='Visit Jersey opens in new window' target="_blank" href="https://www.jersey.com/">Visit Jersey</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <dl id="socialMedia">
                    <dt>Find us on social media
                    </dt>
                    <dd>
                        <a class="noindex" title="Twitter opens in new window" target="_blank" href="https://twitter.com/StatesofJersey">
                            <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>

                                    <i class="fa fa-twitter fa-stack-1x fa-inverse" ></i>
                                        </span>

                        </a>
                    </dd>
                    <dd>
                        <a class="noindex" title="LinkedIn opens in new window" target="_blank" href="https://www.linkedin.com/company/states-of-jersey">
                            <span class="fa-stack fa-lg">
       <i class="fa fa-circle fa-stack-2x"></i>

                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse" ></i>
                                        </span>

                        </a>
                    </dd>
                    <dd>
                        <a class="noindex" title="Facebook opens in new window" target="_blank" href="https://www.facebook.com/StatesofJersey">
                            <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>

                                    <i class="fa fa-facebook fa-stack-1x fa-inverse" ></i>
                                        </span>

                        </a>
                    </dd>
                    <dd>
                        <a class="noindex" title="YouTube opens in new window" target="_blank" href="https://www.instagram.com/statesofjersey/">
                            <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>

                                    <i class="fa fa-instagram fa-stack-1x fa-inverse" ></i>
                                    </span>

                        </a>
                    </dd>
                    <dd>
                        <a class="noindex" title="YouTube opens in new window" target="_blank" href="https://www.youtube.com/user/StatesofJersey">
                            <span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
</span>
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="footerLinks">
                    <li><a href="/Pages/Accessibility.aspx">Accessibility</a></li>
                    <li><a href="/Pages/ContactUs.aspx">Contact us</a></li>
                    <li><a href="/Pages/Privacy.aspx">Privacy</a></li>
                    <li><a href="/Pages/Sitemap.aspx">Sitemap</a></li>
                    <li><a href="/Pages/Terms.aspx">Terms and conditions</a></li>
                    <li class="right">© States of Jersey 2017</li>
                </ul>

            </div>
        </div>
    </div>
</footer>

<script src="/public/js/GovJE.js"></script>

</body>

</html>