<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="unsafe-url" />
    <title>GovJE banding example</title>
    <script src="//use.typekit.net/npl5qjc.js"></script>
    <script>
        //try {
        //    Typekit.load();
        //} catch (e) {}
    </script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="http://cdn.gov.je/css/GovJE.min.css?rel=11" rel="stylesheet" />
    <link href="/css/style.css?rel=11" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>


    <div id="skiptocontent" class="noindex">
        <a class="noindex" href="#startcontent">Skip to main content</a>
        <a class="noindex" href="/Pages/accessibility.aspx">Skip to accessibility</a>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7 sitetitle">
                    <a title="gov.je home" href="/Pages/default.aspx"><img alt="" src="https://labtest.gov.je/_controltemplates/15/C5.GovJEResponsive/images/Leoaprds-white-V1.svg"
                        />gov.je</a>
                    <p class="hidden-xs info noindex">Information and public services for the Island of Jersey</p>
                    <p class="visible-md visible-lg noindex">L'&#238;nform&#226;tion et les s&#232;rvices publyis pouor I'&#206;le d&#233; J&#232;rri</p>

                </div>
                <div class="col-md-4 col-sm-5">

                    <ul class="right hidden-xs noindex">
                        <li><a href="/Pages/contacts.aspx">Contacts</a></li>
                        <li><a href="/Pages/TranslateSite.aspx">Translate</a></li>
                        <li><a href="https://www.mygov.je/Pages/default.aspx">Login</a></li>
                    </ul>
                    <ul class="right visible-xs noindex">
                        <li>
                            <a href="https://www.mygov.je/Pages/default.aspx">Login</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </header>






    <section id="Search">
        <div class="container visible-md visible-lg visible-sm">
            <div class="row">
                <form id="searchform" action="/pages/search.aspx" method="get">

                    <div class="col-sm-7" style="padding-right: 0;">
                        <label for="query" class="search right">Search gov.je</label>
                    </div>
                    <div class="col-sm-5">

                        <div class="input-group">
                            <input type="text" id="query" name="query" class="form-control" />
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </span>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="container visible-xs">
            <div class="row">
                <div class="col-sm-12">
                    <form id="searchMobile" class="site-search" action="/pages/search.aspx" method="get">

                        <div class="input-group">
                            <label for="queryMobile" class="accessibility">Search gov.je</label>
                            <input type="text" id="queryMobile" name="query" class="form-control" />
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <nav class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class='noindex'>
                        <li><a class='noindex' title='Gov.je home' href='//labtest.gov.je/Pages/default.aspx'>Home</a></li>
                        <li><a class='noindex' href='#'>Example breadcrumb</a></li>
                        <li><a class='noindex' href='#'>Example breadcrumb</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>


    <div class="container">
        <div id="DeltaPlaceHolderMain">

